---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.jsx";
import Hero from "../components/Hero.jsx";
import Projects from "../components/Projects.jsx";
import Footer from "../components/Footer.jsx";
import Contact from "../components/Contact.jsx";

import profileData from "../data/profile.json"; // Import profile data

const contactStatus = Astro.url.searchParams.get("contact");
---

<Layout title="nemi's Portfolio">
    <Header client:load />
    <main>
        <Hero client:load profile={profileData} />
        <Projects client:load projects={profileData.projects} />

        <Contact client:load />
    </main>
    <Footer client:load socialLinks={profileData.socialLinks} />
</Layout>
